<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cancelamento de Doação</title>
</head>
<body>
    <div>
        <h2>DOAÇÃO CONFIRMADA COM SUCESSO</h2>
        <P>
            Deus te abençoe!!
        </P>
    </div>   
</body>
</html>